services:
  app:
    build: .
    ports:
      - "8081:8081"
    env_file:
      - .env
    environment:
      DB_HOST: "192.168.0.35"
      DB_PORT: "5432"
      PORT: "8081"
    restart: unless-stopped